<!DOCTYPE html>
<html>
<head>
  <title>ChessCompanion</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- mms: this is the first partial I have seen in Project 3.  Decent use-case (for clarification).  We usually use partials for portions that are reused in multiple views. -->
<!-- mms: recommend you indent these (inside the body) -->
<%= render 'common/signout' %>
<%= yield %>

</body>
</html>
